{% extends 'userp.html' %}
{% load static %}

{% block content %}

<style>
.view-btn {
    background: #e83e8c;
    color: white;
    padding: 8px 22px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 4px 10px rgba(232, 62, 140, 0.4);
}
.view-btn:hover {
    background: #ff4fa3;
    box-shadow: 0 6px 14px rgba(232, 62, 140, 0.6);
    transform: translateY(-3px);
}
    /* Push content below fixed header */
.upcoming-wrapper {
    margin-top: 180px;   /* adjust if navbar height changes */
}

/* Section heading style */
.upcoming-title {
    font-size: 34px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 35px;
    padding-left: 10px;
    border-left: 5px solid #eb315a;
}


</style>
<div class="upcoming-wrapper">
    <div class="container">
        <h2 class="upcoming-title">Upcoming Movies</h2>
            <div class="row">

                {% for i in key %}
                    <div class="col-md-3 col-sm-6 mb-4">
                        <div class="single-portfolio">

                            <div class="single-portfolio-img">
                                <img src="/media/{{ i.poster }}"
                                alt="{{ i.upcoming_movie }}"
                                style="width:100%;height:300px;object-fit:cover;border-radius:10px;" />

        <!--                    <a href="https://www.youtube.com/watch?v=RZXnugbhw_4"-->
        <!--                       class="popup-youtube">-->
        <!--                        <i class="icofont icofont-ui-play"></i>-->
        <!--                    </a>-->
                            </div>

                            <div class="portfolio-content text-center mt-2">
                                <h4>{{ i.upcoming_movie }}</h4>

                                <div class="review">
                                    <div class="author-review">
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                        <i class="icofont icofont-star"></i>
                                    </div>
                                </div>

                            </div>

                          </div>
                    </div>
                {% empty %}
                 <p class="text-center">No upcoming movies available</p>
                {% endfor %}

            </div>
    </div>
</div>

{% endblock %}
